<footer class="foot">
    <div class="footer-container">
    <div class="social-media">
        <div class="social-media-1">
            <i class="fa-solid fa-globe"></i>
            <a href="/English">English&nbsp;(IN)</a>
        </div>
        <div class="social-media-2">
            <i class="fa-solid fa-indian-rupee-sign"></i>
            <a href="/INR">INR</a>
        </div>
        <div class="social-media-3">
            <a href="/facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="/twitter"><i class="fa-brands fa-square-twitter"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
        </div>
    </div>
    <div class="pvt-limited">
        <a href="">&COPY;2024 Resfeber,inc.</a>
    </div>
    <div class="policy">
        <a href="/privacy">.&nbsp;Privacy</a>
        <a href="/terms">.&nbsp;Terms</a>
        <a href="sitemap">.&nbsp;Sitemap</a>
        <a href="company-details">.&nbsp;Company details</a>
    </div>
    </div>
</footer>